$primary-color: #55549b;
$secondary-color: #554971;
$accent-color: #63768d;
$highlight-color: #948ad0;
$background-color: #c5b8ff;
$background-color-transperent: #ddd0ff94;
$white: #fff;
$light-color-transperent: #a096c4;
$dark-background-transperent: rgba(125, 91, 189, 0.5);
$dark-highlight: #3a3173;
$disabled-color: #c1b9d5;
$error-color-red: red;
$box-shadow: 0 15px 25px rgba(158, 103, 204, 0.6);