@use 'normalize.css';
@use './variables' as *;

html,
body {
  height: 100%;
  background-color: $dark-background-transperent;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}
