<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <div class="register-field">
    <input class="register-input" id="username" placeholder="Username" formControlName="username" type="text" />
    
    <div class="register-message-error" 
      [class.visible]="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        Please enter a username.
    </div>
  </div>

  <div class="register-field">
    <input class="register-input" id="email" placeholder="Email" formControlName="email" type="email" />
    
    <div class="register-message-error" 
      [class.visible]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        Please enter a valid email.
    </div>
  </div>

  <div class="register-field">
    <input class="register-input" id="password" placeholder="Password" formControlName="password" type="password" />
    
    <div class="register-message-error" 
      [class.visible]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        Password must be at least 4 characters long.
    </div>
  </div>

  <button class="btn-submit" type="submit" [disabled]="registerForm.invalid">Sign Up</button>
</form>
