@import '../../../variables';

.chat-item-wrapper { 
  display: flex;
  align-items: center;
  justify-content: space-between;

  div { 
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 1rem;
  }
}
.list-title { 
  font-weight: 600;
  color: $dark-highlight;
  font-size: 1.2rem;
  margin: 0 0 0.5rem;
}
.time { 
  font-style: italic;
  color: $primary-color;
  font-size: 0.9rem;
  text-align: right;
}

p {
  margin: 0;
  font-size: 1rem;
  color: $message-color;
}

.icon { 
  color: $dark-background-transperent;
  cursor: pointer;
}