<div class="chat-item-wrapper" (click)="onChatSelect()">
  <app-profile [userImg]="senderImageUrl"></app-profile>

  <div class="chat-content">
    <p class="list-title">{{ senderDisplayName }}</p>

    @if (displayLastMessage) {
      <p class="last-message">{{ displayLastMessage.content }}</p>
    } @else {
      <p class="no-message">Send message first!</p>
    }

    @if (displayLastMessageTime) {
      <span class="time">{{ displayLastMessageTime }}</span>
    }
  </div>

  @if (!loading && !deleting) {
    <mat-icon class="icon" (click)="openDeleteDialog($event)">delete</mat-icon>
  } @else if (deleting) {
    <mat-icon class="icon deleting">hourglass_empty</mat-icon>
  }
</div>
